.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  background: linear-gradient(135deg, $darkBlue, $blueGreen, $greenBlue, $lightBlue);
  box-shadow: 50px 50px 150px $darkBlue;
  border-radius: 20px;
  border: 2px solid transparent;
  /*overflow: auto;*/
  /*justify-content: space-between;*/

  @mixin atMedium {
    height: 90vh;
  }

  .toggleNav {
    font-size: .75rem;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: .10rem;

    @mixin atMedium {
      display: none;
    }
  }
}
